
@import "utilities/variables";
@import "layout/header";
@import "layout/footer";
@import "components/cards";
@import "views/adidas";
@import "views/contacto";
@import "views/galeria";

@import "views/nike";
@import "views/productos";
@import "views/sobre_nosotros";
@import "views/under_armour";


@import "utilities/mediaqueries";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

html {
    background-color: tan;
  }
  
