<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css">
    <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Raleway:ital,wght@1,300&display=swap"
    rel="stylesheet"
    />
    <title>Contacto</title>
  </head>
  <body class="body">
    <header>
      <div class="menu">
          <nav class="navbar navbar-expand-lg bg-light">
              <div class="container-fluid">
                <a class="navbar-brand" href="../index.html"> <img src="../multimedia/deportem_negrosombra_logo.jpg" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="./productos.html">Productos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="./galeria.html">Galería</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="./sobre_nosotros.html">Sobre nosotros</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="./contacto.html">Contacto</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
      </div>
          </header>
      
    <br /><br />
    <div><strong>Bienvenido a DEPORTEM</strong></div>
    <br />
    <!--Inicio de sesión de usuario ya registrado-->
    <form action="" method="get">
      ---Iniciar sesión---
      <br />
      <br />
      <label for="Correo electrónico">Correo electrónico*</label>
      <input
        type="email"
        name="Correo electrónico"
        id="correo electrónico"
        placeholder="Ingresa tu correo electrónico"
        required
      />

      <label for="contraseña">Contraseña*</label>
      <input
        type="password"
        name="Contraseña"
        id=""
        placeholder="Ingresa tu contraseña"
        required
      />
      <br />

      <form>
        <div>recuerdame</div>
        <input type="checkbox" name="acepta" value="1" />
      </form>
      <input type="button" value="Iniciar sesión" />
    </form>

    <br /><br />
    <div></div>
    <!--Registro de usuario nuevo-->
    <form action="" method="get">
      ---Registro--- <br /><br />
      <label for="nombre">Nombre(s)*</label>
      <input
        type="text"
        name="nombre"
        id="nombre"
        placeholder="Ingresa tu(s) nombre(s)"
        required
      />
      <br /><br />
      <label for="Primer apellido">Primer apellido*</label>
      <input
        type="text"
        name="Primer apellido"
        id=""
        placeholder="Ingresa tu primer apellido"
        required
      />
      <label for="contraseña">Segundo apellido*</label>
      <input
        type="text"
        name="Segundo apellido"
        id=""
        placeholder="Ingresa tu segundo apellido"
        required
      />
      <br /><br />
      <label for="Correo electrónico">Correo electrónico*</label>
      <input
        type="email"
        name="Correo electrónico"
        id=""
        placeholder="Ingresa tu correo electrónico"
        required
      />
      <br /><br />
      <label for="contraseña">Contraseña*</label>
      <input
        type="password"
        name="Contraseña"
        id=""
        placeholder="Ingresa tu Contraseña"
        required
      />
      <label for="contraseña">Repetir contraseña*</label>
      <input
        type="password"
        name="Contraseña"
        id=""
        placeholder="Ingresa tu contraseña"
        required
      />
      <br /><br />
      <div>Aceptar términos y condiciones</div>
      <input type="checkbox" name="acepta" value="1" />
      <br /><br />
      <input type="button" value="CREAR CUENTA" />
    <br><br>
    </form>
  </body>
  <!--FOOTER-->
  <div >
    <footer class="footer">
      <h4 class="footer__navegacion">navegacion</h4>
      <ul class="footer__menu">
        <li><a href="../views/productos.html">Productos</a></li>
        <li><a href="../views/galeria.html">Galería</a></li>
        <li><a href="../views/sobre_nosotros.html">Sobre nosotros</a></li>
        <li><a href="../views/contacto.html">Contacto</a></li>
      </ul>   
    </div>

<div class="footer__copyright">Copyright © Derechos reservados de autor.</div>
</footer>
</html>
