<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/styles.css">
    <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Raleway:ital,wght@1,300&display=swap"
    rel="stylesheet"
  />
    <title>Galería</title>
  </head>
  <body class="body">
    <header id="arriba" class="header">
      <a href="../views/index.html"
        ><img src="../multimedia/DEPORTEM NEGROSOMBRA1.jpg" alt=""
      /></a>
      <li><a href="../views/index.html">Home</a></li>
      <p><a href="#abajo">Ir abajo</a></p>
      <nav class="header__navbar">
        <ul>
          <!--MENÚ PRINCIPAL-->
          <li><a href="../views/productos.html">Productos</a></li>
          <li><a href="../views/galeria.html">Galería</a></li>
          <li><a href="../views/sobre_nosotros.html">Sobre nosotros</a></li>
          <li><a href="../views/contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </header>

    <!--Imagenes de Playeras vinculadas-->
    <ul>
      <li><strong>Playeras</strong></li>
      <br />
      <img src="../multimedia/playera hombre.jpg" />
      <h4><em>Playera de hombre</em></h4>

      <img src="../multimedia/playera mujer.jpg" alt="" />
      <h4><em>Playera de mujer</em></h4>

      <img src="../multimedia/playera infantil.jpg" alt="" />
      <h4><em>Playera infantil</em></h4>
    </ul>
    <!--Imagenes de pants vinculadas-->
    <ul>
      <li><strong>Pants</strong></li>
      <br />
      <img src="../multimedia/panst de hombre.jpg" />
      <h4><em>Pants de hombre</em></h4>

      <img src="../multimedia/pants de mujer.jpg" alt="" />
      <h4><em>Pants de mujer</em></h4>

      <img src="../multimedia/pants infantil.jpg" alt="" />
      <h4><em>Pants infantil</em></h4>
    </ul>
    <!--Imagenes de tennis vinculadas-->
    <ul>
      <li><strong>Tennis</strong></li>
      <br />
      <img src="../multimedia/tenis hombre.jpg" />
      <h4><em>Tennis de hombre</em></h4>

      <img src="../multimedia/tenis de mujer.jpg" alt="" />
      <h4><em>Tennis de mujer</em></h4>

      <img src="../multimedia/tenis infantil.jpg" alt="" />
      <h4><em>Tennis infantil</em></h4>
    </ul>
    <br><br>
  </body>
  <!--FOOTER-->
  <div >
    <footer id="abajo" class="footer">
      <h4 class="footer__navegacion">navegacion</h4>
      <ul class="footer__menu">
        <li><a href="../views/productos.html">Productos</a></li>
        <li><a href="../views/galeria.html">Galería</a></li>
        <li><a href="../views/sobre_nosotros.html">Sobre nosotros</a></li>
        <li><a href="../views/contacto.html">Contacto</a></li>
      </ul>   
    </div>
<p> <a href="#arriba">Ir arriba</a></p>	
<div class="footer__copyright">Copyright © Derechos reservados de autor.</div>
</footer>
</html>
