<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css">
    <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Raleway:ital,wght@1,300&display=swap"
    rel="stylesheet"
  />
    <title>Galería</title>
  </head>
  <body class="body">
    <header>
      <div class="menu">
          <nav class="navbar navbar-expand-lg bg-light">
              <div class="container-fluid">
                <a class="navbar-brand" href="../index.html"> <img src="../multimedia/deportem_negrosombra_logo.jpg" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="./productos.html">Productos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="./galeria.html">Galería</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="./sobre_nosotros.html">Sobre nosotros</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="./contacto.html">Contacto</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
      </div>
          </header>
      

    <!--Imagenes de Playeras vinculadas-->
    <div class="imagenes__productos">
    <ul>
      <li><strong>Playeras</strong></li>
      <br />
      <img src="../multimedia/playera_hombre.jpg" alt="Playera de hombre"/>
      <h4><em>Playera de hombre</em></h4>

      <img src="../multimedia/playera_mujer.jpg" alt="Playera de mujer" />
      <h4><em>Playera de mujer</em></h4>

      <img src="../multimedia/playera_infantil.jpg" alt="Playera infantil" />
      <h4><em>Playera infantil</em></h4>
    </ul>
    <!--Imagenes de pants vinculadas-->
    <ul>
      <li><strong>Pants</strong></li>
      <br />
      <img src="../multimedia/panst_de_hombre.jpg" alt="Pants de hombre" />
      <h4><em>Pants de hombre</em></h4>

      <img src="../multimedia/pants_de_mujer.jpg" alt="Pants de mujer" />
      <h4><em>Pants de mujer</em></h4>

      <img src="../multimedia/pants_infantil.jpg" alt="Pants infantil" />
      <h4><em>Pants infantil</em></h4>
    </ul>
    <!--Imagenes de tennis vinculadas-->
    <ul>
      <li><strong>Tennis</strong></li>
      <br />
      <img src="../multimedia/tenis_hombre.jpg" alt="Tennis de hombre" />
      <h4><em>Tennis de hombre</em></h4>

      <img src="../multimedia/tenis_de_mujer.jpg" alt="Tennis de mujer" />
      <h4><em>Tennis de mujer</em></h4>

      <img src="../multimedia/tenis_infantil.jpg" alt="Tennis infantil" />
      <h4><em>Tennis infantil</em></h4>
    </ul>
  </div>
    <br><br>
  </body>
  <!--FOOTER-->
  <div >
    <footer class="footer">
      <h4 class="footer__navegacion">navegacion</h4>
      <ul class="footer__menu">
        <li><a href="./views/productos.html">Productos</a></li>
        <li><a href="./views/galeria.html">Galería</a></li>
        <li><a href="./views/sobre_nosotros.html">Sobre nosotros</a></li>
        <li><a href="./views/contacto.html">Contacto</a></li>
      </ul>   
    </div>
    <div class="footer__copyright">Copyright © Derechos reservados de autor.</div>
    </footer>
</html>
