<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css">
    <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Raleway:ital,wght@1,300&display=swap"
    rel="stylesheet"
  />
    <title>Galería</title>
  </head>
  <body class="body">
    <header>
      <div class="menu">
          <nav class="navbar navbar-expand-lg bg-light">
              <div class="container-fluid">
                <a class="navbar-brand" href="../index.html"> <img src="../multimedia/deportem_negrosombra_logo.jpg" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="./productos.html">Productos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="./galeria.html">Galería</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="./sobre_nosotros.html">Sobre nosotros</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="./contacto.html">Contacto</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
      </div>
          </header>
      

    <!--Imagenes de Nike-->
    <div class="imagenes__productos">
    <ul>
      <li><strong>Nike</strong></li>
      <br />
      <img src="../multimedia/nike/nike_tenis_hombre.webp" alt="tenis de hombre nike"/>
      <h4><em>tenis de hombre Nike</em></h4>

      <img src="../multimedia/nike/nike_tenis_mujer.webp" alt="tenis de mujer Nike" />
      <h4><em>tenis de mujer Nike</em></h4>

      <img src="../multimedia/nike/nike_tenis_niño.webp" alt="tenis niño Nike" />
      <h4><em>tenis de niño Nike</em></h4>

      <img src="../multimedia/nike/nike_tenis_niña.webp" alt="tenis niña Nike"/>
      <h4><em>tenis de niña Nike</em></h4>

      <br />
      <img src="../multimedia/nike/nike_playera_hombre.webp" alt="Playera de hombre nike"/>
      <h4><em>Playera de hombre</em></h4>

      <img src="../multimedia/nike/nike_playera_mujer.webp" alt="Playera de mujer Nike" />
      <h4><em>Playera de mujer Nike</em></h4>

      <img src="../multimedia/nike/nike_playera_niño.webp" alt="Playera niño Nike" />
      <h4><em>Playera de niño Nike</em></h4>

      <img src="../multimedia/nike/nike_playera_niña.webp" alt="Playera niña Nike"/>
      <h4><em>Playera de hombre Nike</em></h4>

      <br />
      <img src="../multimedia/nike/nike_pants_hombre.webp" alt="Pants de hombre nike"/>
      <h4><em>Pants de hombre Nike</em></h4>

      <img src="../multimedia/nike/nike_pants_mujer.webp" alt="Pants de mujer Nike" />
      <h4><em>Pants de mujer Nike</em></h4>

      <img src="../multimedia/nike/nike_pants_niño.webp" alt="Pants niño Nike" />
      <h4><em>Pants de niño Nike</em></h4>

      <img src="../multimedia/nike/nike_pants_niña.webp" alt="Plants niña Nike"/>
      <h4><em>Pants de niña Nike</em></h4> 
    
    </ul>
    <!--Imagenes de Adidas-->
    <ul>
      <li><strong>Adidas</strong></li>
      <br />
      <img src="../multimedia/adidas/adidas_tenis_hombre.webp" alt="tenis de hombre Adidas"/>
      <h4><em>tenis de hombre Adidas</em></h4>

      <img src="../multimedia/adidas/adidas_tenis_mujer.webp" alt="tenis de mujer Adidas" />
      <h4><em>tenis de mujer Adidas</em></h4>

      <img src="../multimedia/adidas/adidas_tenis_niño.webp" alt="tenis niño Adidas" />
      <h4><em>tenis de niño Adidas</em></h4>

      <img src="../multimedia/adidas/adidas_tenis_niña.webp" alt="tenis niña Adidas"/>
      <h4><em>tenis de niña Adidas</em></h4>

      <br />
      <img src="../multimedia/adidas/adidas_playera_hombre.webp" alt="Playera de hombre Adidas"/>
      <h4><em>Playera de hombre Adidas</em></h4>

      <img src="../multimedia/adidas/adidas_playera_mujer.webp" alt="Playera de mujer Adidas" />
      <h4><em>Playera de mujer Adidas</em></h4>

      <img src="../multimedia/adidas/adidas_playera_niño.webp" alt="Playera niño Adidas" />
      <h4><em>Playera de niño Adidas</em></h4>

      <img src="../multimedia/adidas/adidas_playera_niña.webp" alt="Playera niña Adidas"/>
      <h4><em>Playera de niña Adidas</em></h4>

      <br />
      <img src="../multimedia/adidas/adidas_pants_hombre.webp" alt="Pants de hombre Adidas"/>
      <h4><em>Pants de hombre Adidas</em></h4>

      <img src="../multimedia/adidas/adidas_pants_mujer.webp" alt="Pants de mujer Adidas" />
      <h4><em>Pants de mujer Adidas</em></h4>

      <img src="../multimedia/adidas/adidas_pants_niño.webp" alt="Pants niño Adidas" />
      <h4><em>Pants de niño Adidas</em></h4>

      <img src="../multimedia/adidas/adidas_pants_niña.webp" alt="Plants niña Adidas"/>
      <h4><em>Pants de niña Adidas</em></h4> 
    
    </ul>
    <!--Imagenes de Under armour-->
    <ul>
      <li><strong>Under armour</strong></li>
      <br />
      <img src="../multimedia/under_armour/under_armour_tenis_hombre.webp" alt="tenis de hombre Under armour"/>
      <h4><em>tenis de hombre Under armour</em></h4>

      <img src="../multimedia/under_armour/under_armour_tenis_mujer.webp" alt="tenis de mujer Under armour" />
      <h4><em>tenis de mujer Under armour</em></h4>

      <img src="../multimedia/under_armour/under_armour_tenis_niño.webp" alt="tenis niño Under armour" />
      <h4><em>tenis de niño Under armour</em></h4>

      <img src="../multimedia/under_armour/under_armour_tenis_niña.webp" alt="tenis niña Under armour"/>
      <h4><em>tenis de niña Under armour</em></h4>

      <br />
      <img src="../multimedia/under_armour/under_armour_playera_hombre.webp" alt="Playera de hombre Under armour"/>
      <h4><em>Playera de hombre Under armour</em></h4>

      <img src="../multimedia/under_armour/under_armour_playera_mujer.webp" alt="Playera de mujer Under armour" />
      <h4><em>Playera de mujer Under armour</em></h4>

      <img src="../multimedia/under_armour/under_armour_playera_niño.webp" alt="Playera niño Under armour" />
      <h4><em>Playera de niño Under armour</em></h4>

      <img src="../multimedia/under_armour/under_armour_playera_niña.webp" alt="Playera niña Under armour"/>
      <h4><em>Playera de niña Under armour</em></h4>

      <br />
      <img src="../multimedia/under_armour/under_armour_pants_hombre.webp" alt="Pants de hombre Under armour"/>
      <h4><em>Pants de hombre Under armour</em></h4>

      <img src="../multimedia/under_armour/under_armour_pants_mujer.webp" alt="Pants de mujer Under armour" />
      <h4><em>Pants de mujer Under armour</em></h4>

      <img src="../multimedia/under_armour/under_armour_tenis_mujer.webp" alt="Pants niño Under armour" />
      <h4><em>Pants de niño Under armour</em></h4>

      <img src="../multimedia/under_armour/under_armour_pants_mujer.webp" alt="Plants niña Under armour"/>
      <h4><em>Pants de niño Under armour</em></h4> 
    
    </ul>
  </div>
    <br><br>
  </body>
  <!--FOOTER-->
  <div >
    <footer class="footer">
      <h4 class="footer__navegacion">navegacion</h4>
      <ul class="footer__menu">
        <li><a href="./views/productos.html">Productos</a></li>
        <li><a href="./views/galeria.html">Galería</a></li>
        <li><a href="./views/sobre_nosotros.html">Sobre nosotros</a></li>
        <li><a href="./views/contacto.html">Contacto</a></li>
      </ul>   
    </div>
    <div class="footer__copyright">Copyright © Derechos reservados de autor.</div>
    </footer>
</html>
