<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/7b5133c48d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../css/styles.css">
    <title>Productos</title>
            </head>
        <body>
            <header>
                <div class="menu">
                    <nav class="navbar navbar-expand-lg bg-light">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="../index.html"> <img src="../multimedia/deportem_negrosombra_logo.jpg" alt=""></a>
                          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                              <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="./productos.html">Productos</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="./galeria.html">Galería</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="./galeria.html">Sobre nosotros</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="./contacto.html">Contacto</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </nav>
                </div>
                    </header>
                

                 <main class="grid_productos">
        
                  <div class="hombres" >
  <!--!Ropa de hombres--> 
               <div class="playeras_hombre"> 
            
              
            
            <h2>Hombres</h2>
        
                <li>Playeras</li>
                <br>
           
              <form>
        
              <div>Marcas</div>
              <br>
                        
        
              <ul>
                <form>
                    <li>Nike</li>
                    <input type="radio" name="Marcas" value="Nike" />
                    <li>Adidas</li>
                    <input type="radio" name="Marcas" value="Adidas"/>
                    <li>Under Armour</li>
                    <input type="radio" name="Marcas" value="Under Armour" />
                    <li>Reebok</li>
                    <input type="radio" name="Marcas" value="Reebok" />
                    <li>Todas</li>
                    <input type="radio" name="Marcas" value="Reebok" />
                </form>
              </ul>    
              
              <div>Talla</div>
              <br>
                <form action="">
                    <select name="Playeras">
                        <option value="Ch">Chica</option>
                        <option value="M">Mediana</option>
                        <option value="G">Grande</option>
                    </select>
                </div>         
            
                <br>

              <div class="pants_hombre">
                <li>Pants</li>
                    <br>
                    <form>
        
                    <div>Marcas</div>
                    <br>                
                <ul>
                    <form>
                        <li>Nike</li>
                        <input type="radio" name="Marcas" value="Nike" />
                        <li>Adidas</li>
                        <input type="radio" name="Marcas" value="Adidas" />
                        <li>Under Armour</li>
                        <input type="radio" name="Marcas" value="Under Armour" />
                        <li>Reebok</li>
                        <input type="radio" name="Marcas" value="Reebok" />
                        <li>Todas</li>
                        <input type="radio" name="Marcas" value="Reebok" />
                            
                </form>
              </ul>    
                        
                        <div>Talla</div>
                        <br>    
                        <form action="">
                                <select name="Playeras">
                                    <option value="Ch">Chica</option>
                                    <option value="M">Mediana</option>
                                    <option value="G">Grande</option>
                                </select>  

              </div>
                    
              <br>        
                 
              <div class="tenis_hombre">
                <li>Tennis</li>
                <br>
                <form>
        
                    <div>Marcas</div>
                     <br>           
                
                    <ul>
                        <form>
                            <li>Nike</li>
                            <input type="radio" name="Marcas" value="Nike" />
                            <li>Adidas</li>
                            <input type="radio" name="Marcas" value="Adidas" />
                            <li>Under Armour</li>
                            <input type="radio" name="Marcas" value="Under Armour" />
                            <li>Reebok</li>
                            <input type="radio" name="Marcas" value="Reebok" />
                            <li>Todas</li>
                            <input type="radio" name="Marcas" value="Reebok" />
                        
                        </form>
                    </ul>    
                    
                    <div>Talla</div>
                    <br>
                    <select name="talla">
                    <option value="2.5">2.5</option>
                    <option value="3">3</option>
                    <option value="3.5">3.5</option>
                    <option value="4">4</option>
                    <option value="4.5">4.5</option>
                    <option value="5">5</option>
                    <option value="5.5">5.5</option>
                    <option value="6">6</option>
                    <option value="6.5">6.5</option>
                    <option value="7">7</option>
                    <option value="7.5">7.5</option>
                    <option value="8">8</option>
                    <option value="8.5">8.5</option>
                    <option value="9">9</option>
                    <option value="9.5">9.5</option>
                    <option value="10">10</option>
                    <option value="10.5">10.5</option>
                    <option value="11">11</option>
                    <option value="11.5">11.5</option>
                    <option value="12">12</option>
                    <option value="12.5">12.5</option>
                    <option value="13">13</option>
                  </select> 
                    </div>
                       <!--Fin de Ropa de Hombres--> 

               </div>


 <div class="mujeres">
         <!--Ropa de Mujeres-->              
        <div class="playeras_mujeres"> 
            <h2>Mujeres</h2>
        
         <li>Playeras</li>
        <br>
        <form>
        
        <div>Marcas</div>
             <br>    
        
        <ul>
         <form>
             <li>Nike</li>
             <input type="radio" name="Marcas" value="Nike" />
             <li>Adidas</li>
             <input type="radio" name="Marcas value="Adidas" />
             <li>Under Armour</li>
             <input type="radio" name="Marcas" value="Under Armour" />
             <li>Reebok</li>
             <input type="radio" name="Marcas" value="Reebok" />
             <li>Todas</li>
             <input type="radio" name="Marcas" value="Reebok" />
         
         </form>
        </ul>    
        
        <div>Talla</div>
        <br> 
        <form action="">
             <select name="Playeras">
                 <option value="Ch">Chica</option>
                 <option value="M">Mediana</option>
                 <option value="G">Grande</option>
             </select>   
             <br><br>      
         <div class="pants_mujeres">
             <li>Pants</li>
            <br>
             <form>
        
                 <div>Marcas</div>
                 <br>            
        <ul>
             <form>
                 <li>Nike</li>
                 <input type="radio" name="Marcas" value="Nike" />
                 <li>Adidas</li>
                 <input type="radio" name="Marcas value="Adidas" />
                 <li>Under Armour</li>
                 <input type="radio" name="Marcas" value="Under Armour" />
                 <li>Reebok</li>
                 <input type="radio" name="Marcas" value="Reebok" />
                 <li>Todas</li>
                 <input type="radio" name="Marcas" value="Reebok" />
                     
         </form>
        </ul>    
                 
                 <div>Talla</div>
                 <br>
                     <form action="">
                         <select name="Playeras">
                             <option value="Ch">Chica</option>
                             <option value="M">Mediana</option>
                             <option value="G">Grande</option>
                         </select>  
                        </div>
                    </div>

        <br><br>
                         
        <div class="tennis_mujer">
                       
         <li>Tennis</li>
         <br>
         <form>
        
             <div>Marcas</div>
                 <br>        
         
             <ul>
                 <form>
                     <li>Nike</li>
                     <input type="radio" name="Marcas" value="Nike" />
                     <li>Adidas</li>
                     <input type="radio" name="Marcas value="Adidas" />
                     <li>Under Armour</li>
                     <input type="radio" name="Marcas" value="Under Armour" />
                     <li>Reebok</li>
                     <input type="radio" name="Marcas" value="Reebok" />
                     <li>Todas</li>
                     <input type="radio" name="Marcas" value="Reebok" />
                 
                 </form>
             </ul>    
             
             <div>Talla</div>
                    <br>
                    <select name="talla">
                    <option value="2.5">2.5</option>
                    <option value="3">3</option>
                    <option value="3.5">3.5</option>
                    <option value="4">4</option>
                    <option value="4.5">4.5</option>
                    <option value="5">5</option>
                    <option value="5.5">5.5</option>
                    <option value="6">6</option>
                    <option value="6.5">6.5</option>
                    <option value="7">7</option>
                    <option value="7.5">7.5</option>
                    <option value="8">8</option>
                    <option value="8.5">8.5</option>
                    <option value="9">9</option>
                    <option value="9.5">9.5</option>
                    <option value="10">10</option>
                    <option value="10.5">10.5</option>
                    <option value="11">11</option>
                    <option value="11.5">11.5</option>
                    <option value="12">12</option>
                    <option value="12.5">12.5</option>
                    <option value="13">13</option>
                  </select> 
             
            </div>
          <!--Fin de Ropa de Mujeres-->
        </div>
         
               
       
        <div class="infantil">
         <!--Ropa Infantil-->      
         <div class="playeras_infantil">
        <h2>Infantil</h2>
        
         <li>Playeras</li>
        <br>
        <form>
        
        <div>Marcas</div>
         <br>        
        
        <ul>
         <form>
             <li>Nike</li>
             <input type="radio" name="Marcas" value="Nike" />
             <li>Adidas</li>
             <input type="radio" name="Marcas value="Adidas" />
             <li>Under Armour</li>
             <input type="radio" name="Marcas" value="Under Armour" />
             <li>Reebok</li>
             <input type="radio" name="Marcas" value="Reebok" />
             <li>Todas</li>
             <input type="radio" name="Marcas" value="Reebok" />
         
         </form>
        </ul>    
        
        <div>Talla</div>
        <br>
         <form action="">
             <select name="Playeras">
                 <option value="Ch">Chica</option>
                 <option value="M">Mediana</option>
                 <option value="G">Grande</option>
             </select>         
         <br><br>
         <div class="pants_infantil">
             <li>Pants</li>
             <form>
        <br>
                 <div>Marcas</div>
                 <br>            
             
         <ul>
             <form>
                 <li>Nike</li>
                 <input type="radio" name="Marcas" value="Nike" />
                 <li>Adidas</li>
                 <input type="radio" name="Marcas value="Adidas" />
                 <li>Under Armour</li>
                 <input type="radio" name="Marcas" value="Under Armour" />
                 <li>Reebok</li>
                 <input type="radio" name="Marcas" value="Reebok" />
                 <li>Todas</li>
                 <input type="radio" name="Marcas" value="Reebok" />
                     
         </form>
        </ul>    
                 
                 <div>Talla</div>
                 <br>
                     <form action="">
                         <select name="Playeras">
                             <option value="Ch">Chica</option>
                             <option value="M">Mediana</option>
                             <option value="G">Grande</option>
                         </select>  
                        </div>
                
        <br><br>
                         
        
          <div class="tennis_infantil">            
         <li>Tennis</li>
         <br>
         <form>
        
             <div>Marcas</div>
               <br>          
         
             <ul>
                 <form>
                     <li>Nike</li>
                     <input type="radio" name="Marcas" value="Nike" />
                     <li>Adidas</li>
                     <input type="radio" name="Marcas value="Adidas" />
                     <li>Under Armour</li>
                     <input type="radio" name="Marcas" value="Under Armour" />
                     <li>Reebok</li>
                     <input type="radio" name="Marcas" value="Reebok" />
                     <li>Todas</li>
                     <input type="radio" name="Marcas" value="Reebok" />
                 
                 </form>
             </ul>    
             
             <div>Talla</div>
             <br>
             <select name="talla">
             <option value="2.5">2.5</option>
             <option value="3">3</option>
             <option value="3.5">3.5</option>
             <option value="4">4</option>
             <option value="4.5">4.5</option>
             <option value="5">5</option>
             <option value="5.5">5.5</option>
             <option value="6">6</option>
             <option value="6.5">6.5</option>
             <option value="7">7</option>
             <option value="7.5">7.5</option>
             <option value="8">8</option>
             <option value="8.5">8.5</option>
             <option value="9">9</option>
             <option value="9.5">9.5</option>
             <option value="10">10</option>
             <option value="10.5">10.5</option>
             <option value="11">11</option>
             <option value="11.5">11.5</option>
             <option value="12">12</option>
             <option value="12.5">12.5</option>
             <option value="13">13</option>
           </select> 
          </br>
          </div>
              
            </div> 
          <!--!Fin de ropa de  infantil-->                   
          

    </main>

    <footer class="footer">
      <h4 class="footer__navegacion">navegacion</h4>
      <ul class="footer__menu">
        <li><a href="./productos.html">Productos</a></li>
        <li><a href="./galeria.html">Galería</a></li>
        <li><a href="./sobre_nosotros.html">Sobre nosotros</a></li>
        <li><a href="./contacto.html">Contacto</a></li>
      </ul>   
    </div>
    <div class="footer__copyright">Copyright © Derechos reservados de autor.</div>
    </footer>

</body>
</html>