<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/styles.css">
    <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Raleway:ital,wght@1,300&display=swap"
    rel="stylesheet"
    />
    <title>Sobre Nosotros</title>
</head>
<body class="body">
    <header id="arriba" class="header">
        <a href="../views/index.html"><img src="../multimedia/DEPORTEM NEGROSOMBRA1.jpg" alt=""></a>
        <li><a href="../views/index.html">Home</a></li>
        <p> <a href="#abajo">Ir abajo</a></p>  
        <nav class="header__navbar">
            <ul>
              <!--MENÚ PRINCIPAL-->
              <li><a href="../views/productos.html">Productos</a></li>
              <li><a href="../views/galeria.html">Galería</a></li>
              <li><a href="../views/sobre_nosotros.html">Sobre nosotros</a></li>
              <li><a href="../views/contacto.html">Contacto</a></li>
            </ul>
          </nav>
    </header>
<!--Descripción de la empresa-->
    <p>
<div><H2>Sobre nosotros</H2></div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente, corrupti. Beatae eius corrupti vel esse incidunt ut aut facere animi officiis sit, similique tempore laudantium delectus? Alias incidunt deleniti vitae.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quo, tempore quod dolorum dolor sequi quas non quos distinctio sed sit ad animi, qui eum enim doloremque aperiam laborum sunt?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur eligendi excepturi, vel optio animi iusto enim nulla nesciunt quas hic facere ratione quo tempora delectus repellendus, architecto voluptatem sunt ipsam.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quod tenetur optio ipsa! Saepe tempore vitae laborum similique porro, aperiam odit voluptas quisquam velit quia asperiores excepturi, voluptates minus expedita.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias quidem fuga laborum magnam nobis minus quos omnis ipsa velit dolorum minima accusantium dolor totam, nulla qui. Amet ducimus odio minus?
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus molestiae quas ea maxime nostrum temporibus illo, harum praesentium amet assumenda consequatur nesciunt officiis perferendis in fugit eum dignissimos est modi.lo
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore maxime, laudantium nobis quam itaque obcaecati optio magni! Quas porro aliquam magnam iusto, fugiat id est beatae? Pariatur praesentium id voluptatem.

    <div><H2>Nuestra ubicación</H2></div>
  <!--Ubicación de google maps de la empresa-->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.4437677859833!2d-99.11991318578156!3d19.436424795596434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f94c8252a78f%3A0x184c0f00face9272!2sPenitenciar%C3%ADa%2C%2015350%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses-419!2smx!4v1654819380765!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    


</p>
<br><br>


    
</body>

  <!--FOOTER-->
  <div >
    <footer id="abajo" class="footer">
      <h4 class="footer__navegacion">navegacion</h4>
      <ul class="footer__menu">
        <li><a href="../views/productos.html">Productos</a></li>
        <li><a href="../views/galeria.html">Galería</a></li>
        <li><a href="../views/sobre_nosotros.html">Sobre nosotros</a></li>
        <li><a href="../views/contacto.html">Contacto</a></li>
      </ul>   
    </div>
<p> <a href="#arriba">Ir arriba</a></p>	
<div class="footer__copyright">Copyright © Derechos reservados de autor.</div>
</footer>
</html>
