    /* MOBILE FIRST */
  
  @media only screen and (max-width: 480px) {
    .grid_padre {
      display: grid;
      grid-template-areas:
        "titulo titulo"
        "texto texto"
        "im1 im2"
        "im3 im4"
        "pie pie"
        "derecho derecho";
      grid-template-rows: 50px 150px auto auto;
      grid-template-columns: 50% 50%;
    }
  }
  
  /* TABLET */
  
  @media screen and  (max-width:  768px) {
    .grid_padre {
      display: grid;
      grid-template-areas:
        "titulo titulo titulo"
        "texto texto im1"
        "im2 im3 im4"
        "pie pie pie"
      "derecho derecho derecho";
      grid-template-rows: 50px 150px auto auto;
      grid-template-columns: 50% 50%;
    }
  }
  
  /* DESKTOP */
  @media screen and ( max-width: 1200px) {
    .grid_padre {
      display: grid;
      grid-template-areas:
        "titulo titulo titulo"
        "texto texto im1"
        "im2 im3 im4"
        "pie pie pie"
        "derecho derecho derecho";
      grid-template-rows: 50px 150px auto auto;
      grid-template-columns: 50% 50%;
    }
  }
  
  
  
  
  /* MOBILE FIRST */
  
  @media only screen and (max-width: 480px) {
    grid_productos {
      display: grid;
      grid-template-areas:
      "h ph"
      "pah th"
      "m pm"
      "pam tm"
      "i pi"
      "pai ti "
      "pie pie"
      "derecho derecho";
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 50px 300px 50px 300px 50px 300px auto;
    }
  }
  
  /* TABLET */
  
  @media screen and  (min-width:  768px) {
    grid_productos {
      display: grid;
      grid-template-areas:
      "titulo titulo titulo"
      "h m i"
      "ph pm pi"
      "pah pam pai"
      "th tm ti" 
      "pie pie pie"
      "derecho derecho derecho";
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 50px 300px 50px 300px 50px 300px auto;
    }
  }
  
  /* DESKTOP */
  @media screen and ( min-width: 1200px) {
    grid_productos {
      display: grid;
      grid-template-areas:
      "titulo titulo titulo"
      "h m i"
      "ph pm pi"
      "pah pam pai"
      "th tm ti" 
      "pie pie pie"
      "derecho derecho derecho";
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 50px 300px 50px 300px 50px 300px auto;
    }
  
  
  }


  

/* MOBILE FIRST */
  
/* @media only screen and (max-width: 480px) {
  grid_productos {
    display: grid;
    grid-template-areas:
    "h ph"
    "pah th"
    "m pm"
    "pam tm"
    "i pi"
    "pai ti "
    "pie pie"
    "derecho derecho";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 300px 50px 300px 50px 300px auto;
  }
} */

/* TABLET */

/* @media screen and  (min-width:  768px) {
  grid_productos {
    display: grid;
    grid-template-areas:
    "titulo titulo titulo"
    "h m i"
    "ph pm pi"
    "pah pam pai"
    "th tm ti" 
    "pie pie pie"
    "derecho derecho derecho";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 300px 50px 300px 50px 300px auto;
  }
} */

/* DESKTOP */
/* @media screen and ( min-width: 1200px) {
  grid_productos {
    display: grid;
    grid-template-areas:
    "titulo titulo titulo"
    "h m i"
    "ph pm pi"
    "pah pam pai"
    "th tm ti" 
    "pie pie pie"
    "derecho derecho derecho";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 300px 50px 300px 50px 300px auto;
  }
} */
