  /*   ======== ESTILOS DE FOOTER ========== */
  
  .footer {
    background-color: black;
    text-align: center;
    color: white;
  
    padding: 5rem;
    height: 10.5rem;
  
    margin-bottom: 0;
    list-style-type: none;
    
  }
  
  .nav_footer {
    width: 100%;
    margin: 0 10px 0 0;
  
    color: white;
    text-align: center;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    

list-style-type: none;
  }
  
  .a_footer {
    text-decoration: none;
    text-transform: uppercase;
    background-color: black;
    color: rgba(24, 93, 158, 0.945);
    padding: rem;
    font-size: 1rem;
    font-weight: 600;
    
  }

  li{
    list-style-type: none;
  }
  
  .footer_copyright {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }