  /*   ======== ESTILOS DE HEADER ========== */
  
  header{
    background-image: url(../multimedia/gym_header.jpg);
    background-color: black;
    background-repeat: repeat;    
    background-position: center;
    height: 11rem;
  }
    
  
    .navbar-nav{
      display: flex;
      justify-content: space-evenly;
      align-content: center;
      list-style-type: none;
      text-align: center;
  }
  
  .nav-link{
  background-color: grey;
  font-size: 20px;  
  }
