 
 
 /*   ======== ESTILOS DE MAIN ========== */
  
  
 .card{

    background: transparent;
          text-align: center;
    
      }
      
      .card__container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        
      }
      
      .card__body {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        
      }
      .card{
          
      }
      
      h2{
        text-align: center;
      }