/* ======== CONFIGURACIÓN DE GALERÍA ========== */

  
.galeria{
    text-align: center;
    margin:2rem;
  }

  .marcas{
    text-align: center;
    margin:2rem;
  }

  .productos{
display: flex;
justify-content: space-around;

  }

  .productos__imagenes{
    display: flex;
    height: 7rem;
    width: 7rem;
    border: solid;
  }

 h4{
    text-align: center;
    margin: 1.5rem;
  }